<div>
        <h3 style="text-align: center">
            <strong>{{_title}}</strong>
        </h3>
        <h5>
            <strong> {{_subtitle1}} </strong>
        </h5>
    </div>
        
    <hr>
    
    <form 
        #commitmentForm="ngForm" 
        (ngSubmit)="editCommitment('partcommitments/')" 
        id="commitmentForm"
    >    
        <label>
            Title
            <span 
                *ngIf="!title.valid && title.touched"
            >
                You must to provide a title
            </span>
        </label>
        <input 
            #title="ngModel"
            type="text"
            name="title"
            [(ngModel)]="commitment.title"
            class="form-control"
            required
        />
        
        <label>
            Description
            <span 
                *ngIf="!description.valid && description.touched"
            >
                You must to provide a description.
            </span>
        </label>
        <textarea
            #description="ngModel" 
            name="description"
            [(ngModel)]="commitment.description"
            class="form-control"
            required
        >
        </textarea>
    
        <br>
        <input 
            type="submit" 
            value="Submit" 
            [disabled]="!commitmentForm.form.valid" 
            class="btn btn-success"
        >
        <button
            (click) = "saveDataIntoGeneralProvider('partcommitments/')"
            class="btn btn-primary"
        >
            Cancel
        </button>
    </form>