<div>
    <h3 style="text-align: center;"> 
        <strong> {{title}} </strong>
    </h3>
    <h5>
        <strong> {{subtitle}} </strong>
    </h5>
</div>
<hr>

<input
    type="button"
    value="Back"
    [routerLink]="['../act-list']"
    class="btn btn-primary"
/>

<div *ngIf="participants; then proceed else wait"> </div>
<ng-template #proceed>
    <ol>
        <li *ngFor="let part of participants">
            <button
                (click) = "saveIntoGeneralProvider('/create-commitment', part)"
                class="btn btn-primary"
            >
                {{part.name}} {{part.surname}}
            </button>
        </li>
    </ol>
</ng-template>

<ng-template #wait>
    <p> Loading ... </p>
</ng-template>