<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div>
    <input 
        type="button"
        value="Back"
        class="btn btn-primary btn-bg"
        [routerLink]="['../act-list']"
    /> 
</div>

<div *ngIf="act; then proceed else wait"></div>

<ng-template #proceed>
    <div id="act-show-view">
        <ul>
            <li> <strong> Acta id: </strong> {{ act.actId }} </li>
            <li> <strong> Meeting Date: </strong> {{ act.date }} </li>
            <li> 
                <strong> Next meeting date: </strong> 
                {{ act.nextMeetingDate }} 
            </li>
            <li> <strong> Location: </strong> {{ act.location }} </li>
            <li> <strong> Project: </strong> {{ act.project }} </li>
            <li> <strong> Content: </strong> {{ act.content }} </li>
        </ul>
    </div>
</ng-template>

<ng-template #wait >
    <p> loading ... </p>
</ng-template>