<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div *ngIf="actForm; then prooced else wait"> </div>
<ng-template #prooced>
<form 
    [formGroup]="actForm"
    (ngSubmit)="actForm.valid" 
    id="actForm"
>    
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12 ui-inputgroup">
            <label> Location </label>
            <span class="ui-inputgroup-addon">
                <i class="fa fa-user"></i>
            </span>
            <input 
                pInputText
                type="text" 
                class="form-input" 
                formControlName="location"  
                placeholder="Enter a location."
            >
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">

                <label> Project </label>
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-user"></i>
                </span>

                <input 
                    pInputText
                    type="text" 
                    class="form-input"
                    formControlName="project"  
                    placeholder="Project"
                >
            </div>
        </div>
      
        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
                
                <label> Content </label>
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-user"></i>
                </span>

                <textarea  
                    pInputTextarea 
                    class="form-input"
                    formControlName="content"
                    placeholder="Content"> 
                </textarea>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">

                <label> Date </label>
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-user"></i>
                </span>
                
                <p-calendar
                    class="form-input"
                    formControlName="date"
                    placeholder="Date"
                >
                </p-calendar>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">

                <label> Next meeting date </label>
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-user"></i>
                </span>
                <p-calendar
                    class="form-input"
                    formControlName="nextMeetingDate"
                    placeholder="Next meeting date"
                >
                </p-calendar>
                
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="submit"
                [disabled]="!actForm.valid" 
                label="Submit"
                (click)="editAct()"
                class="btn btn-primary"
            > </button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button 
                pButton
                type="button"
                label="Cancel" 
                (click)="cancel()"
                class="btn btn-success"
            > </button>
        </div>
    </div>    

</form>
</ng-template>

<ng-template #wait>
    <p> loading ... </p>
</ng-template>