<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>
<form 
    #actForm="ngForm" 
    (ngSubmit)="createActa()" 
    id="actform"
>    
    <label>
        Location
        <span 
            *ngIf="!location.valid && location.touched"
        >
            You must to provide a location
        </span>
    </label>
    <input 
        #location="ngModel"
        type="text"
        name="location" 
        [(ngModel)]="act.location"
        class="form-control"
        required
    />
    
    <label>
        Project
        <span 
            *ngIf="!project.valid && project.touched"
        >
            You must to provide a project
        </span>
    </label>
    <input 
        #project="ngModel"
        type="text" 
        name="project"
        [(ngModel)]="act.project"
        class="form-control"
        required
    /> 
    
    <label>
        Content
        <span 
            *ngIf="!content.valid && content.touched"
        >
            You must to provide a content
        </span>
    </label>
    <textarea
        #content="ngModel" 
        name="content"
        [(ngModel)]="act.content"
        class="form-control"
        required
    >
    </textarea>

    <label>
        Date
        <span 
            *ngIf="!date.valid && date.touched"
        >
            You must to provide a date
        </span>
    </label>
    <input 
        #date="ngModel"
        name="date"
        type="date" 
        [(ngModel)]="act.date"
        class="form-control"
        required
    />
    
    <label>Next meeting date</label>
    <input
        #next_meeting_date="ngModel"
        name="next_meeting_date"
        type="date"
        [(ngModel)]="act.nextMeetingDate"
        class="form-control"
    />

    <br>
    <input 
        type="submit" 
        value="Create" 
        [disabled]="!actForm.form.valid" 
        class="btn btn-success"
    >
    <input
        type="button"
        value="Cancel"
        [routerLink]="['../act-list']"
        class="btn btn-primary"
    />
</form>