<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div>
    <input 
        type="button"
        value="Back"
        class="btn btn-primary btn-bg"
        [routerLink]="['../../act-list']"
    />

    <input
        style="margin-left: 1%"
        type="button"
        value="Print"
        class="btn btn-primary btn-bg"
        (click)="printModule('act-table')"
    />
    
</div>

<p-table id="act-table" [value]="act">
    <ng-template pTemplate="header">
        <tr>
            <th 
                colspan="2"
                style="text-align: center;"
            > 
                Act info 
            </th>
        </tr>
        <tr>
            <th style="text-align: center;"> 
                Description 
            </th>
            <th style="text-align: center;"> 
                Data 
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-a>
        <tr> 
            <td> <strong> Date: </strong> </td> 
            <td> {{a.date}} </td> 
        </tr>

        <tr> 
            <td> <strong> Next meeting date: </strong> </td>
            <td> {{a.nextMeetingDate}} </td> 
        </tr>

        <tr>
            <td> <strong> Project name: </strong> </td>
            <td> {{a.project}} </td>
        </tr>

        <tr> 
            <td> <strong> Location: </strong> </td>
            <td> {{a.location}} </td> 
        </tr>
        
        <tr>
            <td> <strong> Content: </strong> </td>
            <td> {{a.content}} </td> 
        </tr>

    </ng-template>
</p-table>