<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div *ngIf="actForm; then prooced else wait"> </div>
<ng-template #prooced>
<form 
    [formGroup]="actForm"
    (ngSubmit)="actForm.valid" 
    id="actForm"
>    
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12">
            <label> Location </label>
            <input 
                pInputText
                type="text" 
                class="form-input" 
                formControlName="location"  
                placeholder="Enter a location."
            >
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Project </label>
            <input 
                pInputText
                type="text" 
                class="form-input"
                formControlName="project"  
                placeholder="Project"
            >
        </div>
      
        <div class="ui-g-12 ui-md-12">               
            <label> Content </label>
            <textarea  
                pInputTextarea 
                class="form-input"
                formControlName="content"
                placeholder="Content"> 
            </textarea>
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Date </label>     
            <p-calendar
                class="form-input"
                formControlName="date"
                placeholder="Date"
            >
            </p-calendar>
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Next meeting date </label>
            <p-calendar
                class="form-input"
                formControlName="nextMeetingDate"
                placeholder="Next meeting date"
            >
            </p-calendar>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="button"
                label="Submit"
                [disabled]="!actForm.valid" 
                (click)="editAct()"
                class="btn btn-primary"
            > </button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button 
                pButton
                type="button"
                label="Cancel" 
                (click)="cancel()"
                class="btn btn-success"
            > </button>
        </div>
    </div>    

</form>
</ng-template>

<ng-template #wait>
    <p> loading ... </p>
</ng-template>