<div id="title">
    <h3 style="text-align: center">
        {{title}}
    </h3>

    <hr>
</div>

<div id="buttons">
    <input 
        type="button"
        value="Back"
        class="btn btn-primary btn-bg"
        [routerLink]="['../../act-list']"
    />

    <input
        style="margin-left: 1%"
        type="button"
        value="Print act"
        class="btn btn-primary btn-bg"
        (click)="printAct('actBody')"
    />

    <hr>
</div>

<div id="actBody"> 

    <div *ngIf="act">

        <strong>
            <h3 style="text-align: left"> 
                {{ act.date | date: 'dd/MM/yyyy'}} - 
                {{ act.location }}
            </h3>
        </strong>

        <strong>
            <h1 style="text-align: center">
                {{ act.project }}
            </h1>
        </strong>
    
        <p>
            {{ act.content }}
        </p>
    </div>
    
    <br>
    
    <div *ngIf="actParticipants">

        <p-table [value]="actParticipants">
            <ng-template pTemplate="header">
                <tr>
                    <th 
                        style="text-align: center;"
                    > 
                        Participants
                    </th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-actPart>
                <tr> 
                    <td> 
                        {{actPart.participants.name}} 
                        {{actPart.participants.surname}}
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>

    <div *ngIf="commitments">

        <p-table [value]="commitments">
            <ng-template pTemplate="header">
                <tr>
                    <th 
                        colspan="3"
                        style="text-align: center;"
                    > 
                        Commitments
                    </th>
                </tr>
                <tr style="text-align: center">
                    <th> Person </th>
                    <th> Title </th>
                    <th> Description </th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-commit>
                <tr> 
                    <td> 
                        {{commit.participant.name}} 
                        {{commit.participant.surname}}
                    </td> 
                    <td> {{commit.title}} </td> 
                    <td> {{commit.description}} </td>
                </tr>
        
            </ng-template>
        </p-table>
    </div>
</div>