<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div *ngIf="actForm; then prooced else wait"> </div>
<ng-template #prooced>
<form 
    [formGroup]="actForm"
    (ngSubmit)="actForm.valid" 
    id="actForm"
>    
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12">
            <label> Location </label>

            <span 
                style="background-color: red"
                *ngIf="(location().dirty || location().touched) 
                    && location().invalid && location().errors.required"
            > 
                Location is required
            </span>

            <input 
                pInputText
                maxlength="250"
                type="text" 
                class="form-input" 
                formControlName="location"  
                placeholder="Enter a location."
            >
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Project </label>

            <span 
                style="background-color: red"
                *ngIf="(project().dirty || project().touched) 
                    && project().invalid && project().errors.required"
            > 
                Project name is required
            </span>

            <input 
                pInputText
                maxlength="250"
                type="text" 
                class="form-input"
                formControlName="project"  
                placeholder="Project"
            >
        </div>
      
        <div class="ui-g-12 ui-md-12">               
            <label> Content </label>

            <span 
                style="background-color: red"
                *ngIf="(content().dirty || content().touched) 
                    && content().invalid && content().errors.required"
            > 
                Content is required
            </span>

            <textarea  
                pInputTextarea
                maxlength="250" 
                class="form-input"
                formControlName="content"
                placeholder="Content"> 
            </textarea>
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Date </label>
            
            <span 
                style="background-color: red"
                *ngIf="(date().dirty || date().touched) 
                    && date().invalid && date().errors.required"
            > 
                Date is required
            </span>
            
            <p-calendar
                class="form-input"
                formControlName="date"
                placeholder="Date"
            >
            </p-calendar>
        </div>

        <div class="ui-g-12 ui-md-12">
            <label> Next meeting date </label>
            <p-calendar
                class="form-input"
                formControlName="nextMeetingDate"
                placeholder="Next meeting date"
            >
            </p-calendar>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="button"
                label="Submit"
                [disabled]="!actForm.valid" 
                (click)="editAct()"
                class="ui-button-success"
            > </button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button 
                pButton
                type="button"
                label="Cancel" 
                (click)="cancel()"
                class="ui-button-primary"
            > </button>
        </div>
    </div>    

</form>
</ng-template>

<ng-template #wait>
    <p> loading ... </p>
</ng-template>