<div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>

<div>
    <h3 style="text-align: center;">
        <strong> {{title}} </strong>
    </h3>
</div>
<hr/>

<div>
    <input
        type="button"
        value="Create"
        (click)="openDialog(null,'create')"
        class="btn btn-primary"
    />
</div>
<hr/>

<p-dataView 
    #dv [value]="actList"
    [loading]="loading" 
    [paginator]="true" 
    [rows]="16"
    paginatorPosition="both"
    filterBy="project"
>
    <p-header>
        <div style="text-align: center;">
            <h3> Availables act </h3>
        </div>
        <div style="position:relative;">
            <input 
                type="search" 
                pInputText 
                placeholder="Search by project" 
                (keyup)="dv.filter($event.target.value)"
            >
        </div> 
    </p-header>
    <ng-template let-act pTemplate="listItem">
        <div 
            class="ui-8" 
            style="
                padding: 2em;
                border-bottom: 2px solid #d9d9d9; 
                text-align: center;"
        >
            <div>
                <h3>
                    <strong> 
                        <a
                            [routerLink]="['../act-show/', act.actId]"
                        >
                            {{act.project}} 
                        </a>
                    </strong>
                </h3>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Edit"
                    (click)="openDialog(act, 'edit')"
                    class="ui-button-rounded ui-button-warning"
                >
                </button>
                <button
                    pButton
                    type="button"
                    label="Delete"
                    (click)="openDialog(act, 'delete')"
                    style="margin-left: 1%"
                    class="ui-button-rounded ui-button-danger"
                > 
                </button>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Add participants"
                    (click)="saveDataIntoGeneralProvider(
                        '../actparticipants', act)"
                    style="margin-top: 1%"
                    class="ui-button-success"
                >
                </button>
            </div>
            <div>
                <button 
                    pButton
                    type="button"
                    label="Commitments"
                    [routerLink]="['../partfromact', act.actId]"
                    style="margin-top: 1%"
                    class="ui-button-success"
                >
                    
                </button>
            </div>

            <div>
                <button 
                    pButton
                    type="button"
                    label="Print act"
                    [routerLink]="['../printact/', act.actId]"
                    style="margin-top: 1%"
                    class="ui-button-success"
                >  
                </button>
            </div>
        </div>
    </ng-template>
</p-dataView>