<div>
    <h5>
        <strong> {{title}} </strong>
    </h5>
</div>
<hr>
<h5>
    Pick participants
</h5>
<hr>
<div>
    <p-pickList [source]="source" [target]="target">
        <ng-template let-actPart pTemplate="item">
            <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">
                    {{actPart.participants.name}} 
                    {{actPart.participants.surname}}
                </div>
            </div>
        </ng-template>
    </p-pickList>
</div>
<hr>
<div>
    <button
        type="button"
        (click)="submit()"
        class="btn btn-primary"
    >
        Submit
    </button>
    <input
        type="button"
        value="Cancel"
        [routerLink]="['../../act-list']"
        class="btn btn-primary"
    />
</div>