<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>
<form 
    #partForm="ngForm" 
    (ngSubmit)="createParticipant()" 
    id="partform"
>    
    <label>
        Name
        <span 
            *ngIf="!name.valid && name.touched"
        >
            You must to provide a name
        </span>
    </label>
    <input 
        #name="ngModel"
        type="text"
        name="name" 
        [(ngModel)]="participant.name"
        class="form-control"
        required
    />
    
    <label>
        Surname
        <span 
            *ngIf="!surname.valid && surname.touched"
        >
            You must to provide a surname
        </span>
    </label>
    <input 
        #surname="ngModel"
        type="text" 
        name="surname"
        [(ngModel)]="participant.surname"
        class="form-control"
        required
    /> 
    
    <label>
        Email
        <span 
            *ngIf="!email.valid && email.touched"
        >
            You must to provide an email
        </span>
    </label>
    <input
        #email="ngModel" 
        name="email"
        type="email"
        [(ngModel)]="participant.email"
        class="form-control"
        required
    />

    <br>
    <input 
        type="submit" 
        value="Create" 
        [disabled]="!partForm.form.valid" 
        class="btn btn-success"
    />
    <input
        type="button"
        value="Cancel"
        [routerLink]="['../participant-list']"
        class="btn btn-primary"
    />
</form>