<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>
<hr>

<div *ngIf="participant; then proceed else wait"> </div>
<ng-template #proceed>
    <form 
        [formGroup]="partForm"
        (ngSubmit)="partForm.valid" 
        id="partForm"
    >    
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-md-12">
                <label> Name </label>
                <input 
                    pInputText
                    type="text"
                    formControlName="name"
                    class="form-input"
                    placeholder="Participant's name"
                />
            </div>
            
            <div class="ui-g-12 ui-md-12">
                <label> Surname </label>
                <input 
                    pInputText
                    type="text" 
                    formControlName="surname"
                    class="form-input"
                    placeholder="Participant's surname"
                />
            </div>
            
            <div class="ui-g-12 ui-md-12">
                <label> Email </label>
                <input
                    pInputText
                    type="email"
                    formControlName="email"
                    class="form-input"
                    placeholder="Participant's email"
                />
            </div>

            <div class="ui-g-12 ui-md-6">
                <button
                    pButton
                    type="submit"
                    label="Submit"
                    [disabled]="!partForm.valid" 
                    (click)="editPart()"
                    class="ui-button-success"
                    >
                </button>
            </div>

            <div class="ui-g-12 ui-md-6">
                <button
                    pButton
                    type="button"
                    label="Cancel"
                    (click)="cancel()"
                    class="ui-button-primary"
                    >
                </button>
            </div>

        </div>
    </form>
</ng-template>

<ng-template>
    <p>
        Loading ...
    </p>
</ng-template>