<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>
<hr>

<form 
    [formGroup]="partForm"
    (ngSubmit)="partForm.valid" 
    id="partForm"
>    
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12">
            <label> Name </label>
            <input 
                pInputText
                type="text"
                formControlName="name"
                class="form-input"
                placeholder="Enter participant's name"
            />
        </div>
        
        <div class="ui-g-12 ui-md-12">
            <label> Surname </label>
            <input 
                pInputText
                type="text" 
                formControlName="surname"
                class="form-input"
                placeholder="Enter participant's surname"
            />
        </div>
        
        <div class="ui-g-12 ui-md-12">
            <label> Email </label>
            <input
                pInputText
                type="email"
                formControlName="email"
                class="form-input"
                placeholder="Enter participant's email"
            />
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="submit"
                label="Create"
                [disabled]="!partForm.valid" 
                (click)="createPart()"
                class="ui-button-success"
            > </button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="button"
                label="Cancel"
                (click)="cancel()"
                class="ui-button-primary"
            > </button>
        </div>

    </div>
</form>