<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div>
    <input 
        type="button"
        value="Back"
        class="btn btn-primary btn-bg"
        [routerLink]="['../../participant-list']"
    /> 
</div>

<p-table [value]="participant">
    <ng-template pTemplate="header">
        <tr>
            <th 
                colspan="2"
                style="text-align: center;"
            > 
                Participant info 
            </th>
        </tr>
        <tr>
            <th style="text-align: center;"> 
                Description 
            </th>
            <th style="text-align: center;"> 
                Data 
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-p>
        <tr> 
            <td> <strong> Participant's name: </strong> </td> 
            <td> {{p.name}} </td> 
        </tr>

        <tr> 
            <td> <strong> Participant's surname: </strong> </td>
            <td> {{p.surname}} </td> 
        </tr>

        <tr>
            <td> <strong> Participant's email: </strong> </td>
            <td> {{p.email}} </td>
        </tr>

    </ng-template>
</p-table>