<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>

<hr>

<div>
    <input 
        type="button"
        value="Back"
        class="btn btn-primary btn-bg"
        [routerLink]="['../participant-list']"
    /> 
</div>

<div *ngIf="participant; then proceed else wait"></div>

<ng-template #proceed>
    <div id="participant-show-view">
        <ul>
            <li> <strong> Participant id: </strong> 
                {{ participant.participant_id }} </li>
            <li> <strong> Participant's name: </strong> 
                {{ participant.name }} </li>
            <li> 
                <strong> Participant's surname: </strong> 
                {{ participant.surname }} 
            </li>
            <li> <strong> Participant's Email: </strong> 
                {{ participant.email }} 
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #wait >
    <p> loading ... </p>
</ng-template>