<div>
    <h3 style="text-align: center">
        {{title}}
    </h3>
</div>
<hr>

<form 
    [formGroup]="partForm"
    (ngSubmit)="partForm.valid" 
    id="partForm"
>    
    <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12">
            <label> Name </label>
            
            <span 
                style="background-color: red"
                *ngIf="(name().dirty || name().touched) && name().invalid
                    && name().errors.required"
            > 
                Participant's name is required
            </span>

            <input 
                pInputText
                maxlength="100"
                type="text"
                formControlName="name"
                class="form-input"
                placeholder="Enter participant's name"
            />
        </div>
        
        <div class="ui-g-12 ui-md-12">
            <label> Surname </label>
            <span 
                style="background-color: red"
                *ngIf="(surname().dirty || surname().touched) && 
                    surname().invalid && surname().errors.required"
            >
                Particpant's surname is required
            </span>
            <input 
                pInputText
                maxlength="100"
                type="text" 
                formControlName="surname"
                class="form-input"
                placeholder="Enter participant's surname"
            />
        </div>
        
        <div class="ui-g-12 ui-md-12">
            <label> Email </label>
            <span 
                style="background-color: red"
                *ngIf="(email().dirty || email().touched) && 
                    email().invalid && email().errors.required"
            >
                Particpant's email is required
            </span>

            <input
                pInputText
                type="email"
                formControlName="email"
                class="form-input"
                placeholder="Enter participant's email"
            />
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="submit"
                label="Create"
                [disabled]="!partForm.valid" 
                (click)="createPart()"
                class="ui-button-success"
            > </button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <button
                pButton
                type="button"
                label="Cancel"
                (click)="cancel()"
                class="ui-button-primary"
            > </button>
        </div>

    </div>
</form>