<div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>

<div>
    <h3 style="text-align: center;">
        <strong> {{title}} </strong>
    </h3>
</div>
<hr/>
<div>
    <input
        type="button"
        value="Create"
        [routerLink]="['../participant-create/']"
        class="btn btn-primary"
    />
</div>
<hr/>

<p-dataView 
    #dv [value]="participantList"
    [loading]="loading" 
    [paginator]="true" 
    [rows]="16"
    paginatorPosition="both"
    filterBy="name"
>
    <p-header>
        <div style="text-align: center">
            <h3> Availables participants </h3>
        </div>
        <div style="position:relative">
            <input 
                type="search" 
                pInputText 
                placeholder="Search by participant" 
                (keyup)="dv.filter($event.target.value)"
            >
        </div> 
    </p-header>
    <ng-template let-part pTemplate="listItem">
        <div 
            class="ui-8" 
            style="
                padding: 2em; 
                border-bottom: 1px solid #d9d9d9;
                text-align: center;
            "
        >
            <div>
                <h3>
                    <strong> 
                        <a
                            [routerLink]="['../participant-show/', 
                                part.participant_id]"
                        >
                            {{part.name}}
                        </a>
                    </strong>
                </h3>
            </div>
            <div>
                <button
                    pButton
                    type="button"
                    label="Edit"
                    (click)="openDialog(part, 'edit')"
                    class="ui-button-rounded ui-button-warning"
                >
                </button>
                <button 
                    style="margin-left:1%"
                    pButton
                    type="button"
                    label="Delete"
                    (click)="saveDataIntoGeneralProvider(
                        'participant-delete/'+part.participant_id, part)"
                    class="ui-button-rounded ui-button-danger"
                >
                </button>
            </div>
            <div>
                <button
                    style="margin-top: 1%"
                    pButton
                    type="button"
                    label="See commitments"
                    (click)="saveDataIntoGeneralProvider(
                        'partcommitments/',part)"
                    class="ui-button-success"
                >
                </button>
            </div>
        </div>
    </ng-template>
</p-dataView>