#content {
    margin-top : 50px;
    margin-left: 15px;
    margin-right:  15px;
    border : 1px solid black;
    border-radius: 10px;
    background : white;
    padding: 15px;
}

.selectedtab {
    border-bottom: 3px solid yellow;
    /* background: #e03137; */
}

#header {
    background: #e03137;
    color: white;
    height: 100px;
    text-align: center;
}

#navigationbar {
    margin: 0px;
    background: #e03137a3;
    padding-bottom: 20px;
}

#navigationbar ul { 
    list-style : none;
    margin: 0px;
    padding-left: 0px;
    line-height: 0px;
}

#navigationbar ul li {
    float : left;
    padding-right : 15px;
    padding-left: 10px;
}

#navigationbar ul li a {
    display: block;
    color : white;
    height: 20px;
    line-height: 17px;
    transition: all 300ms;
}

#navigationbar ul li a:hover {
    text-decoration: none;
    background: #e03137a3;
}

#main .jumbotron {
    margin-top: 15px;
    border-radius: 10px;
}

#footer {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: gray;
}

#actform {
    margin-top: 10px;
}

.form-input {
    width: 100%;
}

.highligh {
    cursor: pointer;
    text-decoration: underline !important;
}

.highligh:hover {
    color: blue !important;
}