<div>
    <h3 style="text-align: center;">
        <strong> {{title}} </strong>
    </h3>
</div>
<hr>
<div>
    <button 
        (click)="loadDataIntoGeneralProvider('partcommitments')"
        class="btn btn-primary"
    >
        Back
    </button>
</div>
<hr>
<div >
    <ul>
        <li> 
            <strong> Commitment Id: </strong> 
            {{commitment.commitment_id}} 
        </li>
        <li> 
            <strong> Commitment's title: </strong> 
            {{commitment.title}} 
        </li>
        <li> 
            <strong> Belong to: </strong> 
            {{commitment.participant.name}} {{commitment.participant.surname}} 
        </li>
        <li>
            <strong> Project's act: </strong> {{commitment.act.project}} 
        </li>
        <li> 
            <strong> Commitment's description: </strong> 
            {{commitment.description}}
        </li>
    </ul>
</div>